{% extends "base.html" %}
{% load static %}

{% block body %}
    <div class="  form_bg">
        <div class=" form-box">
            <div class="row text-white">
                <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
                    <h1 class="display-4 py-2 text-truncate styled-title">Login</h1>
                    <div class="px-2 login">
                        <form action="" class="forms justify-content-center mb-3">
                            <div class="form-group">
                                <label class="sr-only">Email</label>
                                <input type="email" class="form-control" placeholder="harry.potter@example.com">
                            </div>
                            <div class="form-group">
                                <label class="sr-only">Senha</label>
                                <input type="password" class="form-control" placeholder="Senha">
                            </div>
                            <button type="submit" class="btn btn-primary btn-lg">Entrar</button>
                        </form>
                        <h4 class="text-white">Não possui cadastro?</h4>
                        <a href="{% url 'user:cadastro' %}" class=" text-secondary">Cadastre-se aqui!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}

{% block footer %}
    <script src="{% static 'js/jquery-3.5.1.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script> 
{% endblock footer %}