{% extends "base.html" %}
{% load static %}
{% block body %}
<body>
    <nav aria-label="breadcrumb mb-5">
        <ol class="breadcrumb container mt-5">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Loja</li>
        </ol>
    </nav>

    <div class="container">
        <div class="dropdown d-md-none">
            <a class="nav-link nav-item dropdown-toggle" data-toggle="dropdown" href="#">Categorias</a>
            <div class="dropdown-menu dropdown-menu-right">
                <a  class="dropdown-item" href="#">Itens de poções</a>
                <a  class="dropdown-item" href="#">Vassouras</a>
                <a  class="dropdown-item" href="#">Doces</a>
                <a  class="dropdown-item" href="#">Poções</a>
                <a  class="dropdown-item" href="#">Pegadinhas</a>
                <a  class="dropdown-item" href="#">Magia trouxa</a>
                <a  class="dropdown-item" href="#">Brinquedos</a>
                <a  class="dropdown-item" href="#">Roupas</a>
                <a  class="dropdown-item" href="#">Cartas</a>
            </div>
        </div>
        <div class="row">
            <div class="row col-lg-9 col-md-8 mb-5 mt-5">
                <div class="col-lg-4 col-sm-6">
                    <div class="card mb-4 ">
                        <a href="{% url 'produto:produto' %}"><img class=" card-img-top" src="{% static 'images/pena_de_fenix.jpg' %}" alt="pena de fenix" style="height: 260px;"></a>
                        <div class="card-body">
                            <p class="card-subtitle text-muted">Itens de poção</p>
                            <h5 class="card-title">Pena de fenix</h5>
                            <p class=" card-text text-danger"> ʛ$ 50,00</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="card mb-4 ">
                        <a href="{% url 'produto:produto' %}"><img class=" card-img-top" src="{% static 'images/pena_de_fenix.jpg' %}" alt="pena de fenix" style="height: 260px;"></a>
                        <div class="card-body">
                            <p class="card-subtitle text-muted" >Itens de poção</p>
                            <h5 class="card-title">Pena de fenix</h5>
                            <p class=" card-text text-danger"> ʛ$ 50,00</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="card mb-4 ">
                        <a href="{% url 'produto:produto' %}"><img class=" card-img-top" src="{% static 'images/pena_de_fenix.jpg' %}" alt="pena de fenix" style="height: 260px;"></a>
                        <div class="card-body">
                            <p class="card-subtitle text-muted" >Itens de poção</p>
                            <h5 class="card-title">Pena de fenix</h5>
                            <p class=" card-text text-danger"> ʛ$ 50,00</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="card mb-4 ">
                        <a href="{% url 'produto:produto' %}"><img class=" card-img-top" src="{% static 'images/pena_de_fenix.jpg' %}" alt="pena de fenix" style="height: 260px;"></a>
                        <div class="card-body">
                            <p class="card-subtitle text-muted" >Itens de poção</p>
                            <h5 class="card-title">Pena de fenix</h5>
                            <p class=" card-text text-danger"> ʛ$ 50,00</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="card mb-4 ">
                        <a href="{% url 'produto:produto' %}"><img class=" card-img-top" src="{% static 'images/pena_de_fenix.jpg' %}" alt="pena de fenix" style="height: 260px;"></a>
                        <div class="card-body">
                            <p class="card-subtitle text-muted" >Itens de poção</p>
                            <h5 class="card-title">Pena de fenix</h5>
                            <p class=" card-text text-danger"> ʛ$ 50,00</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="card mb-4 ">
                        <a href="{% url 'produto:produto' %}"><img class=" card-img-top" src="{% static 'images/pena_de_fenix.jpg' %}" alt="pena de fenix" style="height: 260px;"></a>
                        <div class="card-body">
                            <p class="card-subtitle text-muted" >Itens de poção</p>
                            <h5 class="card-title">Pena de fenix</h5>
                            <p class=" card-text text-danger"> ʛ$ 50,00</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="card mb-4 ">
                        <a href="{% url 'produto:produto' %}"><img class=" card-img-top" src="{% static 'images/pena_de_fenix.jpg' %}" alt="pena de fenix" style="height: 260px;"></a>
                        <div class="card-body">
                            <p class="card-subtitle text-muted" >Itens de poção</p>
                            <h5 class="card-title">Pena de fenix</h5>
                            <p class=" card-text text-danger"> ʛ$ 50,00</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="card mb-4 ">
                        <a href="{% url 'produto:produto' %}"><img class=" card-img-top" src="{% static 'images/pena_de_fenix.jpg' %}" alt="pena de fenix" style="height: 260px;"></a>
                        <div class="card-body">
                            <p class="card-subtitle text-muted" >Itens de poção</p>
                            <h5 class="card-title">Pena de fenix</h5>
                            <p class=" card-text text-danger"> ʛ$ 50,00</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="card mb-4 ">
                        <a href="{% url 'produto:produto' %}"><img class=" card-img-top" src="{% static 'images/pena_de_fenix.jpg' %}" alt="pena de fenix" style="height: 260px;"></a>
                        <div class="card-body">
                            <p class="card-subtitle text-muted" >Itens de poção</p>
                            <h5 class="card-title">Pena de fenix</h5>
                            <p class=" card-text text-danger"> ʛ$ 50,00</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row col-lg-3 col-md-4 d-none d-md-block">
                <div class=" col-12 mb-3">
                    <h2>Categorias</h2>
                    <ul class="list-group">
                        <button type="button" class=" list-group-item list-group-item-action list-group-item-light">Itens de poções</button>
                        <button type="button" class=" list-group-item list-group-item-action list-group-item-light">Vassouras</button>
                        <button type="button" class=" list-group-item list-group-item-action list-group-item-light">Doces</button>
                        <button type="button" class=" list-group-item list-group-item-action list-group-item-light">Poções</button>
                        <button type="button" class=" list-group-item list-group-item-action list-group-item-light">Pegadinhas</button>
                        <button type="button" class=" list-group-item list-group-item-action list-group-item-light">Magia trouxa</button>
                        <button type="button" class=" list-group-item list-group-item-action list-group-item-light">Brinquedos</button>
                        <button type="button" class=" list-group-item list-group-item-action list-group-item-light">Roupas</button>
                        <button type="button" class=" list-group-item list-group-item-action list-group-item-light">Cartas</button>
                      </ul>
                </div>
                <div class="col-12 mb-3">
                    <h2>Filtros</h2>
                    <ul class="list-group">
                        <li class=" list-group-item list-group-item-action list-group-item-light">Cor</li>
                        <li class=" list-group-item list-group-item-action list-group-item-light">Preço</li>
                        <li class=" list-group-item list-group-item-action list-group-item-light">Tipo</li>
                        <li class=" list-group-item list-group-item-action list-group-item-light">Frete gratis</li>
                      </ul>
                </div>
                <div class="col-12 mb-3">
                    <h2>Mais Vendidos</h2>
                    <div class="card">
                        <div class="card-body">
                            <ul class="list-group">
                                <a href="#">
                                    <div class=" media mb-4">
                                        <img class="mr-3" src="{% static 'images/pena_de_fenix.jpg' %}" style="height: 60px;" alt="Mais vendidos">
                                        <div class="media-body">
                                            <p> Pena de fenix</p>
                                            <h5 class="text-danger">ʛ$ 50,00</h5>
                                        </div>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class=" media mb-4">
                                        <img class="mr-3" src="{% static 'images/pena_de_fenix.jpg' %}" style="height: 60px;" alt="Mais vendidos">
                                        <div class="media-body">
                                            <p> Pena de fenix</p>
                                            <h5 class="text-danger">ʛ$ 50,00</h5>
                                        </div>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class=" media mb-4">
                                        <img class="mr-3" src="{% static 'images/pena_de_fenix.jpg' %}" style="height: 60px;" alt="Mais vendidos">
                                        <div class="media-body">
                                            <p> Pena de fenix</p>
                                            <h5 class="text-danger">ʛ$ 50,00</h5>
                                        </div>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class=" media">
                                        <img class="mr-3" src="{% static 'images/pena_de_fenix.jpg' %}" style="height: 60px;" alt="Mais vendidos">
                                        <div class="media-body">
                                            <p> Pena de fenix</p>
                                            <h5 class="text-danger">ʛ$ 50,00</h5>
                                        </div>
                                    </div>
                                </a>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <nav aria-label="Page navigation " class="mb-5">
            <ul class="pagination">
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
        </nav>
    </div>


{% endblock body %}
