{% extends "base.html" %}
{% load static %}

{% block body %}

<body>

    <div class="container mb-5 align-content-center ">
        <nav aria-label="breadcrumb mb-5">
            <ol class="breadcrumb container mt-3">
                <li class="breadcrumb-item"><a href="{% url 'home'%}">Home</a></li>
                <li class="breadcrumb-item"><a href="{% url 'produto:catalogo'%}">Catalogo</a></li>
                <li class="breadcrumb-item active" aria-current="page">Pena de Fenix</li>
            </ol>
        </nav>
        <div class="row">

            <img class="col-6" src="{% static 'images/pena_de_fenix.jpg' %}" alt="pena de fenix">
            <div class="row col-6">
                <div>
                    <h2 class="col-12">Pena de Fenix</h2>
                    <div class="text-center mb-auto col-6">
                        <span id="like_amount" >0</span>
                        <a href="#" id="like_btn" style="text-decoration: none;">
                            <i id="like" data-like="0" class="far fa-thumbs-up mr-3 mb-4"></i>
                        </a>
                        
                        <a href="#" id="dislike_btn" style="text-decoration: none;">
                            <i id="dislike" data-dislike="0" class="far fa-thumbs-down mb-4"></i>
                        </a>
                        <span id="dislike_amount">0</span>        
                    </div>
                </div>
                <p class=" text-center col-12">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc porttitor malesuada arcu sodales
                    imperdiet. Vestibulum imperdiet eget magna vitae convallis. Praesent consequat mattis auctor.
                    Aliquam.
                </p>
                <h3 class="text-danger mt-auto col-6"> ʛ$ 50,00</h3>
                <div class="text-right mt-auto col-6">
                    <button class="btn btn-outline-primary">Adicionar ao Carrinho</button>
                </div>
            </div>
        </div>
            
    </div>

    {% endblock body %}