{% extends "base.html" %}
{% load static %}
{% load products_filters %}
{% block body %}

<body>
    <nav aria-label="breadcrumb mb-5">
        <ol class="breadcrumb container mt-5">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            {% if not category %}
                <li class="breadcrumb-item active" aria-current="page">Catalogo</li>
            {% else %}
                <li class="breadcrumb-item"><a href={% url 'product:catalogo' %}>Catalogo</a></li>
                <li class="breadcrumb-item active" aria-current="page" >{{category.name}}</li>
            {% endif %}
        </ol>
    </nav>

    <div class="container">
        <div class="dropdown d-md-none">
            <a class="nav-link nav-item dropdown-toggle" data-toggle="dropdown" href="#">Categorias</a>
            <div class="dropdown-menu dropdown-menu-right">
                {% for cat in categories %}
                    <a  class="dropdown-item" href="#">{{cat.name}}</a>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="row col-lg-9 col-md-8 mb-5 mt-5">
                {% for prod in products|index:page %}
                    <div class="col-lg-4 col-sm-6">
                        <div class="card mb-4 ">
                            <a href="{{prod.get_absolute_url}}"><img class=" card-img-top" src="{% static 'p_images/'%}{{prod.image}}" alt="{{prod.image}}" style="height: 260px;"></a>
                            <div class="card-body">
                                <p class="card-subtitle text-muted">{{prod.category}}</p>
                                <h5 class="card-title">{{prod.name}}</h5>
                                <p class=" card-text text-danger"> ʛ$ {{prod.price}}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
            <div class="row col-lg-3 col-md-4 d-none d-md-block">
                <div class=" col-12 mb-3">
                    <h2>Categorias</h2>
                    <div class="nav flex-column nav-pills">
                        <a class=" nav-link border border-primary {% if not category %}active{% endif %}" href="{% url 'product:catalogo' %}">Todos</a>
                        {% for cat in categories %}
                            <a class=" nav-link border border-top-0 border border-primary {% if cat == category %}active{% endif %}" href="{{cat.get_absolute_url}}">{{cat.name}}</a>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-12 mb-3">
                    <h2>Filtros</h2>
                    <ul class="list-group">
                        <li class=" list-group-item list-group-item-action list-group-item-light">Cor</li>
                        <li class=" list-group-item list-group-item-action list-group-item-light">Preço</li>
                        <li class=" list-group-item list-group-item-action list-group-item-light">Tipo</li>
                        <li class=" list-group-item list-group-item-action list-group-item-light">Frete gratis</li>
                      </ul>
                </div>
                <div class="col-12 mb-3">
                    <h2>Mais Vendidos</h2>
                    <div class="card">
                        <div class="card-body">
                            <ul class="list-group">
                                <a href="">
                                    <div class=" media mb-4">
                                        <img class="mr-3" src="{% static 'p_images/pena_de_fenix.jpg' %}" style="height: 60px;" alt="Mais vendidos">
                                        <div class="media-body">
                                            <p> Pena de fenix</p>
                                            <h5 class="text-danger">ʛ$ 50,00</h5>
                                        </div>
                                    </div>
                                </a>
                                <a href="">
                                    <div class=" media mb-4">
                                        <img class="mr-3" src="{% static 'p_images/pena_de_fenix.jpg' %}" style="height: 60px;" alt="Mais vendidos">
                                        <div class="media-body">
                                            <p> Pena de fenix</p>
                                            <h5 class="text-danger">ʛ$ 50,00</h5>
                                        </div>
                                    </div>
                                </a>
                                <a href="">
                                    <div class=" media mb-4">
                                        <img class="mr-3" src="{% static 'p_images/pena_de_fenix.jpg' %}" style="height: 60px;" alt="Mais vendidos">
                                        <div class="media-body">
                                            <p> Pena de fenix</p>
                                            <h5 class="text-danger">ʛ$ 50,00</h5>
                                        </div>
                                    </div>
                                </a>
                                <a href="">
                                    <div class=" media">
                                        <img class="mr-3" src="{% static 'p_images/pena_de_fenix.jpg' %}" style="height: 60px;" alt="Mais vendidos">
                                        <div class="media-body">
                                            <p> Pena de fenix</p>
                                            <h5 class="text-danger">ʛ$ 50,00</h5>
                                        </div>
                                    </div>
                                </a>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <nav aria-label="Page navigation " class="mb-5">
            <ul class="pagination">
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              {% for i in pages %}
                <li class="page-item"><a class="page-link" href="{% url 'product:catalogo_por_pagina' i%}">{{i|add:1}}</a></li>
              {% endfor %}
              
                <a class="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
        </nav>
    </div>


{% endblock body %}
